<h2>SIGN IN PAGE</h2>


<form method="post" action="/dashboard/auth/signin">
<label for="email">Email</label>
    <input id="email" type="text" name="email" value="">

    <label for="password">Password</label>
    <input id="password" type="text" name="password" value="">

    <button>Sign in</button>
</form>